a {
  color: green;
  margin: 5px 0;
}

#team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 0 20px;
  padding: 10px;
  align-items: center;
  border: ;
}

.card img {
  width: 250px;
  border-radius: 50%;
}
