.form-container {
    /* flex: 3; */
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    font-weight: 200;
    text-align: center;
    align-items: center;
  }

  form {
    margin-left: 20px;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    background: -webkit-linear-gradient(45deg, rgb(67, 140, 59) 1%, rgba(92, 71, 255, 0) 50%, rgba(92, 71, 255, 0) 100%);
    /* cursor: url('../proj/img/opal.png'), auto; */
  }

  input,
  select {
  width: 100%;
  padding: 4px;
  margin-top: 5px;
  border: 1px solid #777;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #222;
  color: #fff;
  font-family: 'Audiowide', cursive;
  text-align: center;
  /* cursor: url('../proj/img/opal-pointer.png'), auto; */
}

#player-name {
  width: 100%;
}

label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    font-weight: bold;
    /* cursor: url('../proj/img/opal.png'), auto; */
  }
  
  label p {
    margin: 0;
    margin-left: 5px;
    font-size: 13px;
  }
  
  #game-difficulty {
    width: 20px;
  }

  input[type='text'] {
    font-family: 'Audiowide', cursive;
  }
  
  input[type='radio'] {
    margin: 0;
  }

  .radio-div {
    margin-top: 10px;
  }

  /* ----BUTTONS HERE---- */

  button.idle-button {
    padding: 5px 10px;
    background-color: rgb(76, 175, 80);
    border: none;
    color: #fff;
    /* cursor: url('../proj/img/opal-pointer.png'), auto; */
    font-weight: bold;
    border-radius: 10px;
    transition: color 0.5s;
    font-family: 'Audiowide', cursive;
    margin-top: auto;
    animation: idleButtonAnimation 2s infinite;
    overflow: hidden;
    align-self: center;
  }
  
  button:hover {
    background-color: #011;
  }
  
  @keyframes idleButtonAnimation {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.1); }
  }

  #start-button {
    padding: 5px 10px;
    background-color: rgb(76, 175, 80);
    border: none;
    color: #fff;
    /* cursor: url('../proj/img/opal-pointer.png'), auto; */
    font-weight: bold;
    border-radius: 10px;
    transition: color 0.5s;
    font-family: 'Audiowide', cursive;
    font-size: 13px;
    margin-top: 10px;
    margin-left: 10px;
    animation: idleButtonAnimation 2s infinite;
    position: relative;
    overflow: hidden;
  }
  
  /* button.idle-button {
    padding: 5px 10px;
  } */

  #start-button.idle-button {
    padding: 5px 10px;
    background-color: rgb(76, 175, 80);
    border: none;
    color: #fff;
    /* cursor: url('../proj/img/opal-pointer.png'), auto; */
    font-weight: bold;
    border-radius: 10px;
    transition: color 0.5s;
    font-family: 'Audiowide', cursive;
    font-size: 13px;
    margin-top: 10px;
    margin-left: 10px;
    animation: idleButtonAnimation 2s infinite;
    position: relative;
    overflow: hidden;
  }

  button.unavailable-button {
    padding: 5px 10px;
    background-color: rgb(125, 125, 125);
    border: none;
    color: #fff;
    /* cursor: url('/proj/img/no-entry.png'), auto; */
    font-weight: bold;
    border-radius: 10px;
    transition: color 0.5s;
    font-family: 'Audiowide', cursive;
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
    overflow: hidden;
    /* cursor: url('/proj/img/opal.png'), auto; */
  }

  #start-button.unavailable-button {
    padding: 5px 10px;
    background-color: rgb(125, 125, 125);
    border: none;
    color: #fff;
    /* cursor: url('/proj/img/no-entry.png'), auto; */
    font-weight: bold;
    border-radius: 10px;
    transition: color 0.5s;
    font-family: 'Audiowide', cursive;
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
    overflow: hidden;
    /* cursor: url('/proj/img/opal.png'), auto; */
  }

  .unavailable-button:hover {
    background-color: rgb(125, 125, 125);
  }
  
  
  button.unavailable-button:hover {
    background-color: rgb(255, 0, 0);
  }
  
  #start-button.unavailable-button:hover {
    background-color: rgb(125, 125, 125);
  }
  
  #start-button:hover {
    background-color: #011;
  }
  
  #button.idle-button:hover {
    background-color: #011;
  }

  @keyframes idleButtonAnimation {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  
    /* #questionsRemaining {
      font-size: 15px;
      margin: 0;
    } */
  }


