  .quiz-container {
    /* flex: 7; */
    /* width: 80%; */
    margin: 20px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #011; */
    box-sizing: border-box;
    border-radius: 10px;
    /* background: -webkit-linear-gradient(45deg, rgb(67, 140, 59) 1%, rgba(92,71,255,0) 50%, rgba(92,71,255,0) 100%); */
  }
  
  .question {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  #question-text {
    margin: 0;
  }
  
  #options {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
  }

  p {
    margin: 0;
  }
  
  .gameInProgress {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .gameInProgress span {
    font-size: 10px;
    font-weight: bold;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: opacityAnimation 2s infinite, scaleAnimation 5s infinite alternate;
    background-image: linear-gradient(45deg, #A7F432, #05230a, #ddd, #A7F432, #444);
  }

  @keyframes scaleAnimation {
    0%, 100% {
      transform: scale(1.5);
    }
    50% {
      transform: scale(2.05);
    }
  }

  @keyframes opacityAnimation {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.8;
    }
  }

  #options li {
    display: flex;
    align-items: center;
    margin: 8px 0;
  }
  
  #options li input[type="radio"] {
    margin: 5px;
    max-width: 13px;
    max-height: 13px;
  }
  
  #options li:hover {
    background-color: #4CAF50;
    border-radius: 10px;
    /* padding: 2px; */
    cursor: url('/proj/img/opal-pointer.png'), auto;
  }

  #quizContainer {
    text-align: center;
  }
  
  #score {
    font-size: 15px;
    margin: 0;
  }

  .quiz-wiz-hr {
    width: 80%;
    height: 2px;
    background-color: #444;
    border: none;
  }

  ul {
    list-style: none;
    padding: 0;
  }

/* buttons here */

  button#nextBtn {
    margin: 0 auto;
    background-color: rgb(76, 175, 80);
    justify-content: center;
    border: none;
    color: #fff;
    cursor: url('/proj/img/opal-pointer.png'), auto;
    border-radius: 8px;
    transition: color 0.5s;
    font-family: 'Audiowide', cursive;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
    animation: idleButtonAnimation 2s infinite;
  }

  button#leadBtn,
  button#playBtn {
    width: 120px;
    background-color: rgb(76, 175, 80);
    border: none;
    color: #fff;
    cursor: url('/proj/img/opal-pointer.png'), auto;
    border-radius: 8px;
    transition: color 0.5s;
    font-family: 'Audiowide', cursive;
    margin-top: 10px;
    margin-right: 60px;
    animation: idleButtonAnimation 2s infinite;
  }

  #hideBtn {
    display: none;
  }