/* General styles */
body {
  background-color: rgb(0, 0, 0);
  color: #fff;
  font-family: 'Audiowide', cursive;
  margin: 0;
  padding: 0;
  cursor: url('/proj/img/opal.png'), auto;
}

/* Header styles */

header {
  height: 120px;
  padding: 10px;
  cursor: url('/proj/img/opal.png'), auto;
}

h1 {
  animation: neon1 2.5s ease-in-out infinite alternate;
  text-align: center;
  margin-top: 20px;
  font-size: 36px;
  margin-bottom: 5px;
}

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #064011, 0 0 20px #fff, 0 0 30px #fff,
      0 0 40px #4caf50, 0 0 70px #4caf50, 0 0 70px #4caf50, 0 0 100px #4caf50,
      0 0 100px #4caf50;
  }
  to {
    text-shadow: 0 0 5px #064011, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #05230a,
      0 0 35px #05230a, 0 0 40px #05230a, 0 0 50px #05230a, 0 0 75px #05230a;
  }
}

/* Navigation styles */
nav {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

ol {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

ol li {
  list-style: none;
  margin: 0 20px;
  border: none;
  color: #fff;
  cursor: url('/proj/img/opal-pointer.png'), auto;
  border-radius: 5px;
}

ol li a {
  position: relative;
  display: block;
  width: 60px;
  height: 40px;
  text-align: center;
  line-height: 63px;
  background: #073910;
  border-radius: 50%;
  font-size: 20px;
  color: #073910;
  transition: 0.5s;
  text-decoration: none;
  color: #fff;
}

ol li i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ol li span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  color: #fff;
}

ol li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #1b8b2b;
  transition: 0.1s;
  transform: scale(0.9);
  z-index: -1;
}

ol li a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 20px #1b8b2b;
}

ol li a:hover {
  color: #1b8b2b;
  box-shadow: 0 0 10px #1b8b2b;
  text-shadow: 0 0 10px #ffee10;
  cursor: url('/proj/img/opal-pointer.png'), auto;
}

/* Main content styles */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  margin-top: 30px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 0;
}

/* ------who's button is this?----- */
/* .button-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 10px;
} */
/* ------who's button is this?----- */

span {
  font-size: 10px;
  text-align: center;
}

footer {
  text-align: center;
  margin-top: 20px;
}

hr {
  border-color: #444;
}

nav ol li {
  margin: 0 40px;  
}